/******************************************
 ****************  PAGE   *****************
 *****************************************/

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|PT+Sans|PT+Sans+Narrow:400,700");

body * {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#page {
  z-index: -50;
  height: 100%;
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#page-cover {
  z-index: -40;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
}

img#logo {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 250px;
  max-width: 300px;
}

#content {
  height: 100%;
}

#js-app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.errors {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/******************************************
 **********  LANDING DISPLAY   ************
 *****************************************/

#landing {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

#landing .heading {
  display: block;
  line-height: 1.25;
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
  color: #003399;
  font-family: 'PT Sans', sans-serif;
  text-shadow: 2px 2px 4px #99CCCC;
  text-align: center;
}

#landing .line-2 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.25rem;
  letter-spacing: 2px;
}

#landing h2 {
  margin-top: 10px;
  padding: 25px 0;
  color: darkblue;
  font-family: 'Libre Baskerville', serif;
  text-shadow: 1px 1px 2px white;
}

/******************************************
 ************  SEARCH FORM   **************
 *****************************************/

#search {
  min-width: 300px;
  margin-top: 25px;
}

.search-form-item {
  width: 90%;
  margin: 15px auto;
}

input {
	text-indent: 5px;
}

input,
select {
  width: 100%;
  height: 40px;
	border: 1px solid #245580;
	border-radius: 6px;
	box-shadow: 2.5px 2.5px 5px #CCCCCC;
	color: #245580;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 1px 1px 4px #99CCCC;
}

#search-place input::placeholder {
	text-indent: 5px;
	color: #245580;
}

/******************************************
 **************   BUTTONS   ***************
 *****************************************/

/* #FF9933 #003399 #99CCCC #CCCCCC */

button,
input.results-reset-btn {
	width: 130px;
  height: 40px;
	border-color: #245580;
  border-radius: 6px;
	background-image: linear-gradient(to bottom, #337ab7 0px, #265a88 100%);
  font-size: 1.5em;
  color: white;
}

#results-reset-btn {
  position: relative;
  top: 10px;
}

button#reset-btn,
.results-reset-btn {
	background-image: linear-gradient(to bottom, #FF9933 0px, #EE7755 100%);
}

#reset-btn.search-form-btn {
  margin-left: 10px;
}

/******************************************
 **********  SMALL LANDSCAPE   ************
 *****************************************/

@media only screen and (max-width: 767px) and (orientation: landscape) {
  div#landing {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    text-align: center;
  }

  #landing h2 {
    margin: 0;
    padding: 15px 0;
  }

  #search {
    margin-top: 50px;
  }

  .search-form-item {
    margin: 10px auto;
  }

  #reset {
    margin-top: 100px; 
  }
}

/******************************************
 ***********  LARGE SCREENS   *************
 *****************************************/

@media only screen and (min-width: 400px) and (max-width: 960px) {
  #search {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

/******************************************
 ***********  LARGE SCREENS   *************
 *****************************************/

@media only screen and (min-width: 768px) {
  #landing .heading {
    line-height: 1.5;
    font-size: 4rem; 
  }

  #landing .line-2 {
    font-size: 5.75rem;
    letter-spacing: 2px;
  }
  #search {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}