/******************************************
 ****************  PAGE   *****************
 *****************************************/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow:400,700");

body * {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

div#page {
  z-index: -10;
  height: 100%;
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div#page-cover {
  z-index: -5;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

img#logo {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 250px;
  max-width: 300px;
}

div#content {
  height: 100%;
}

/******************************************
 **********  LANDING DISPLAY   ************
 *****************************************/
div#landing {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -55%);
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

div#landing .heading {
  display: block;
  line-height: 1.25;
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
  color: blue;
  font-family: 'PT Sans', sans-serif;
  text-shadow: 1px 1px 2px orange;
  text-align: center;
}

div#landing .line-2 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.25rem;
  letter-spacing: 2px;
}

div#landing h2 {
  margin-top: 10px;
  padding: 25px 0;
  color: darkblue;
  font-family: 'Libre Baskerville', serif;
  text-shadow: 1px 1px 2px white;
}

/******************************************
 ************  SEARCH FORM   **************
 *****************************************/
#search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin-top: 25px;
}

.search-form-item {
  width: 80%;
  margin: 15px auto;
}

.search-form-item input,
.search-form-item select {
  width: 100%;
  height: 35px;
}

#search-btn,
#reset-btn {
  display: inline-block;
  float: left;
  min-width: 107px;
  width: 49.30%;
  max-width: 200px;
  height: 35px;
}

#search-button,
#reset-button {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35px;
}

button {
  width: 100px;
}

.hidden {
  display: none;
}

/******************************************
 *************   RESULTS   ****************
 *****************************************/
#results {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#results #results-message,
#results #results-chart,
#results #results-reset-btn {
  margin-left: -50px;
  margin-right: -50px;
}

#results-reset-btn {
  position: relative;
  top: 20px;
  left: 0;
}

/******************************************
 **************   BUTTONS   ***************
 *****************************************/
button {
  min-width: 100px;
  max-width: 200px;
  background-color: aqua;
  color: darkblue;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  height: 40px;
  border-radius: 5px;
}

/******************************************
 **********  SMALL LANDSCAPE   ************
 *****************************************/
@media only screen and (max-width: 767px) and (orientation: landscape) {
  div#landing {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    text-align: center;
  }

  div#landing h2 {
    margin: 0;
    padding: 15px 0;
  }

  #search {
    margin-top: 50px;
  }

  .search-form-item {
    margin: 10px auto;
  }

  div#reset {
    margin-top: 100px; 
  }
}
/******************************************
 ***********  LARGE SCREENS   *************
 *****************************************/
@media only screen and (min-width: 768px) {
  div#landing .heading {
    line-height: 1.5;
    font-size: 3rem; 
  }

  div#landing .line-2 {
    font-size: 4.75rem;
    letter-spacing: 2px;
  }
}