html,
body {
  // Force elements to 100% for map to cover 100% of the page
	font-family: 'Open Sans', sans-serif;
	min-height: 100%;
  height: 100%;
	margin: 0;
	padding: 0;
}

#page,
#map {
	// Must be height, not min-height for google maps to work
	height: 100%;
}

#map {
  // Starting z-index based on map
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;
}

#map-cover {
  // Add transparent cover over the entire page and map
  z-index: 5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.50);
}

#logo {
  z-index: 10;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100px;
  padding: 15px auto;
  // background-color: rgba(200, 255, 200, 0.75);
}

#logo img {
  z-index: 10;
  display: block;
  width: 300px;
  margin: 0 auto;
  padding-top: 15px;
}

// LANDING DISPLAY

#landing {
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin-top: 25px;
  padding: 10px;
  text-align: center;
}

#landing .heading {
  display: block;
  line-height: 1.25;
  text-shadow: 1px 1px 2px black;
}

#landing .line-1 {
  color: blue;
  font-size: 2rem;
  font-weight: bold;
}

#landing .line-2 {
  color: blue;
  font-size: 2.5rem;
  font-weight: bold;
  white-space: nowrap;
}

#landing .line-3 {
  color: blue;
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
}

#landing h2 {
  padding: 25px 0;
  color: darkblue;
  text-shadow: 1px 1px 2px white;
}

#reset h2 {
  text-shadow: 1px 1px 2px lightblue;
}

button {
  width: 100px;
}

// SEARCH FORM

#search {
  width: 100%;
  padding: 0 20px;
}

.search-form-item {
  width: 80%;
  margin: 25px auto;
}

.search-form-item input,
.search-form-item select,
.search-form-item button {
  width: 100%;
  height: 35px;
}

.no-show {
  display: none;
}
 
#search {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 25px;
  padding: 10px;
}

// CHART RESULT

#result {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#reset {
  margin-left: -50px;
  margin-right: -50px;
}

// DETAIL COLUMNS

#details {
  width: 100%;
}

#details .detail-column {
  padding: 15px;
}

#details .odd {
  background-color: #DDD;
}

#details .even {
  background-color: rgb(200, 255, 200);
}

#details h3 {
  text-align: center;
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  
  #landing {
    margin-top: 50px;
  }
  
  #landing h2 {
    padding: 0;
  }
  
  #search {
    margin-top: 50px;
  }
  
  .search-form-item {
    margin: 10px auto;
  }
  
  div#reset {
    margin-top: 100px;
  }
}

@media only screen and (min-width: 1000px) {
  #landing h2 {
    padding-left: 200px;
    padding-right: 200px;
  }
}