// Colors in sequence
$primary-color: gray;
$secondary-color: orange;

$tertiary-color: green;
$quaternary-color: blue;

/* $quinary-color:
$senary-color:
  
$septenary-color:
$octonary-color: */
  
$nonary-color: #AAA;
$denary-color: #DDD;
  
$duodenary-color: #FFF;

// Typography
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');