.search-btn {
  background-color: $tertiary-color;
  color: $duodenary-color;
  font-weight: bold;
  border-radius: 4px;
}

#search button.state-btn {
  background-color: $secondary-color;
  color: $duodenary-color;
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
}

#search button.data-btn {
  background-color: $primary-color;
  color: $duodenary-color;
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
}

#search button.state-btn span.filter-option.pull-left,
#search button.data-btn span.filter-option.pull-left {
  text-align: center;
}

#search-box,
#search-state-btn,
#search-data-type-btn,
#search-btn {
  padding-bottom: 15px;
}

//#search-state-btn, 
//#search-data-type-btn {
//  margin-bottom: 10px;
//}